body {
  color: #555;
  margin: 0;
  font-family: "cumulus"; sans-serif;
  font-size: 20px;
}

.container {
  max-witdh: 1000px;
  margin: 0;
  padding: 0 75 0 75;
}

a {
  color: #DFDABA;
}

a:hover {
  color: white;
}

p {
  line-height: 1.5;
}

#header {
  background-color: #67635B;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: #DFDABA;
  text-decoration: none;

  text-spacing: 0.1em;
}

#header a:hover {
  color: white;
}

#header-title {
  display: block;
  float: left;

  font-size: 40px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

#content {
  padding-top: 15px;
  text-align: center;
}

.index-picture {
  border: solid white;
}

.index-picture img {
  width: 200px;
  height: 200px;

  border: 1px solid gray;
  border-radius: 100px;

  padding: 4px;
}


.index-text {
  text-align: center;
  font-weight: bold;
}

.about-picture img {
  width: 200px;
  height: 200px;

  border: 1px solid gray;
  border-radius: 100px;

  padding: 4px;
}

.about-text {
  text-align: center;
  font-weight: bold;
}

.about-text h1 {
  text-decoration: underline;
}

.content, .about {
  max-width: 800px;
  margin: 0;
}

#footer {
  background-color: #67635B;
  padding: 50px 0;
  margin-bottom: 0px;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: #DFDABA;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: #DFDABA;
}
